.readex-pro-thin {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 160;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
}

.readex-pro-extralight {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
}

.readex-pro-light {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
}

.readex-pro-regular {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
}

.readex-pro-medium {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
}

.readex-pro-semibold {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
}

.readex-pro-bold {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
}